* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#content {
    background-color: #D4D4D4;
    margin: 20px 20px 20px 20px;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
}

div .question {
    background-color: #B8B8B8;
    margin: 5px 20px 5px 20px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    border: solid 1px;
}

.range {
    width: 75%;
    margin-left: 12.5%;
}

button {
    width: 90%;
    height: 50px;
    margin-left: 5%;
}

table {
    border-collapse: collapse;
}

td {
    padding: 1px 10px 1px 10px;
    border: 1px solid;
}
